.Contador input{
    width: 60px;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
}

.Contador button {
    background-color: #0fafa2;
    color: white;
    border: 1px solid #ccc;;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    margin: 8px;
}