.Card {
    background-color: cadetblue;
    border: 3px solid cadetblue ;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;

    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px ;
}

.Card .Title{
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Card .Content{
    background-color: aliceblue;
    color: rgb(7, 38, 95);
    padding: 10px;
    flex: 1;
}